@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.MainHeader {
  text-align: center;
  background-color:#750b0b;
}
/*css of header*/
.ant-menu-horizontal {
  line-height: 150px;
  font-size: x-large;
  background-color:#750b0b;
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item > a {
  color:rgb(217, 169, 105);
}

.ant-menu-horizontal > .ant-menu-item-selected{
  color:rgb(217, 169, 105);
  border-bottom: none;
}

.ant-menu-item{
  padding: 0 55px;
  margin-top:35px;
}

.headLogo{
  background-image: url('./assets/logo-s.jpg');
  height:185px;
  background-size: cover;
}

/*ccs of homeContent*/
.homeBackground {
  text-align: center;
  font-size: xx-large;
  background-image: url('./assets/main-background.jpg');
  background-size: cover;
  height:22em;
}

.homeBackground h1,p {
  color: #750b0b;
}

.serviceCard_1{
  height:30em;
  background-image: url('./assets/content-card-1.jpg');
  background-size:cover;
  color: white;
}

.serviceCard_2{
  height:30em;
  background-image: url('./assets/content-card-2.jpg');
  background-size:cover;
  color: white;
}

.serviceCard_3{
  height:30em;
  background-image: url('./assets/content-card-3.jpg');
  background-size:cover;
  color: white;
}

.serviceCard_4{
  height:30em;
  background-image: url('./assets/content-card-4.jpg');
  background-size:cover;
  color: white;
}

.serviceCard_content {
  height: 30em;
  text-align: center;
}

/*css of Menu componet*/
.menuBullet{
  height: 35em;
}

/*css of footer*/
.footer {
  background-color: #750b0b;
  text-align: center;
}
.footer h5 {
  color: rgb(217, 169, 105);
}

.ant-layout-footer{
  background: #750b0b;
}

.footerLogo{
  height: 185px;
  background-image: url('./assets/logo-s.jpg');
  background-size: cover;
}

/*css of ContactContent*/
.contactCard {
  text-align: center;
}